@import '../../styles.scss';

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: $content-font-size * 1.1;
  background: linear-gradient(to right, rgb(143, 0, 0), rgb(12, 0, 0));
  padding: 10px;
  @include small-screens {
    font-size: $content-font-size * 0.9;
  }

  span {
    color: rgb(192, 0, 0);
    font-size: $content-font-size * 1.1;
    font-family: cursive;
  }
}
