@import '../../../styles.scss';

.table-actions {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px;
  @include large-screens {
    margin-top: 20px;
    flex-direction: column-reverse;
    align-items: center
  }

  .btn-add-meal {
    @include button(rgb(0, 179, 0), rgb(1, 199, 1), rgb(0, 48, 0), $text-color);
    font-size: $content-font-size * 1.5;
    float: left;
    margin: 0 0px 20px 30px;
    width: 30%;
    @include large-screens {
      width: 90%;
      float: none;
      margin: 0 0 15px;
      padding: 10px;
    }
    @include small-screens {
      font-size: $content-font-size * 1.4;
      width: 90%;
    }
  }

  input {
    @include input(62.5%);
    margin-right: 40px;
    @include large-screens {
      width: 90%;
      margin: 0 0 15px;
      font-size: 24px;
    }
  }
}

.mat-elevation-z8 {
  margin-top: 10px;
  overflow-x: auto;
}

table {
  color: $text-secondary-color;
  text-align: center;

  th {
    background: linear-gradient(to top, rgb(192, 1, 1), rgb(66, 0, 0));
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
  }

  tr.mat-row {
    background-color: black;
  }

  .mat-mdc-row.mdc-data-table__row.cdk-row {
    background-color: black;
    color: white;
    border-bottom: 2px solid;
    font-size: 22px;
    border-spacing: 1px;
  }

  .mat-mdc-row.mdc-data-table__row.cdk-row:hover {
    background: linear-gradient(to top, rgb(94, 1, 1),rgb(27, 0, 0));
  }

  
  .mat-mdc-cell.mdc-data-table__cell.cdk-cell{
    border-bottom: 2px solid $text-secondary-color;
    text-align: center;
    padding: 15px 0;
  }

  .btn-add {
    @include button(rgb(0, 179, 0), rgb(1, 199, 1), rgb(0, 48, 0), $text-color);
    font-size: $content-font-size * 0.9;
  }

  .btn-edit {
    @include button(rgb(195, 209, 0), rgb(216, 231, 0), rgb(48, 43, 0), $text-color);
    font-size: $content-font-size * 0.9;
  }

  .btn-remove {
    @include button(rgb(216, 0, 0), rgb(243, 0, 0), rgb(31, 0, 0), $text-color);
    font-size: $content-font-size * 0.9;
  }
}


// PAGINATOR

::ng-deep .mat-mdc-paginator-outer-container {
  background: linear-gradient(to top, rgb(109, 0, 0), rgb(26, 0, 0));
  color: white;
}

::ng-deep .mat-mdc-paginator .mat-mdc-select-value {
  color: white;
}

::ng-deep .mat-mdc-select-arrow svg {
  color: white;
} 

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border: 2px solid white !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border: 2px solid $text-secondary-color !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
  border-right: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-left: none !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: rgb(255, 255, 255) !important;
  opacity: 0.6;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-paginator-icon {
  fill: rgb(255, 255, 255) !important;
}


