<section class="meals-list-shell" [ngStyle]="{ opacity: loading ? 0.55 : 1 }">
  <header class="meals-list-shell__header" *ngIf="!loading">
    <div>
      <h2>Baza produktów</h2>
      <p>Dodawaj do kalorii, edytuj i zarządzaj listą w jednym miejscu.</p>
    </div>

    <div class="table-actions">
      <input
        type="text"
        id="filter"
        (keyup)="applyFilter($event)"
        maxlength="30"
        placeholder="Szukaj po nazwie produktu"
      />
      <button type="button" class="btn-add-meal" (click)="onAddMeal()">DODAJ NOWY POSIŁEK</button>
    </div>
  </header>

  <div class="table-wrapper mat-elevation-z8" [ngStyle]="{ display: loading ? 'none' : 'block' }">
    <table [@fadeIn] *ngIf="!loading" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nazwa</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef>Kalorie</th>
        <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
      </ng-container>

      <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef>Węglowodany</th>
        <td mat-cell *matCellDef="let element">{{ element.carbohydrates }}</td>
      </ng-container>

      <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef>Białko</th>
        <td mat-cell *matCellDef="let element">{{ element.protein }}</td>
      </ng-container>

      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef>Tłuszcze</th>
        <td mat-cell *matCellDef="let element">{{ element.fats }}</td>
      </ng-container>

      <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef>Usuwanie</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn-remove" (click)="onRemoveClick(element)">USUŃ</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edycja</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn-edit" (click)="onEditClick(element)">EDYTUJ</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef>Dodawanie</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn-add" (click)="onAddClick(element)">DODAJ</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Stronicowanie tabeli produktów"
    >
    </mat-paginator>
  </div>
</section>

<app-info-dialog
  [showMessage]="showMessage"
  [messageInfo]="messageInfo"
  (okClick)="onOkClick()"
></app-info-dialog>
