<div class="auth">
  <app-title
    [sectionTitle]="sectionName"
    [sectionDescription]="sectionDescription"
  >
  </app-title>
  <mat-spinner *ngIf="isLoading" [diameter]="150" [strokeWidth]="15">
  </mat-spinner>

  <div class="auth__logout-container" *ngIf="isLoggedIn">
    <p>Jesteś obecnie zalogowany.</p>
    <button (click)="onLogoutClick()">WYLOGUJ SIĘ</button>
  </div>

  <form
    class="auth__login-form"
    [formGroup]="loginForm"
    *ngIf="!isLoading && !isLoggedIn"
    (ngSubmit)="onLogin()"
  >
    <div class="auth__login-input">
      <label for="email">Użytkownik</label>
      <input
        type="email"
        autocomplete="off"
        id="email"
        formControlName="email"
        placeholder="Wprowadź nazwę użytkownika"
      />
    </div>
    <div class="auth__login-input">
      <label for="password">Hasło</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Wprowadź hasło"
      />
    </div>
    <div class="auth__button-container">
      <button type="submit" class="auth__button">ZALOGUJ</button>
    </div>
  </form>

  <div class="auth__info-card" *ngIf="!isLoading && !isLoggedIn">
    <p>
      Kliknij
      <span class="auth__test-link" (click)="onTestClick()">TUTAJ</span> żeby
      przetestować aplikację.
    </p>
  </div>

  <app-info-dialog
    [showMessage]="showMessage"
    [messageInfo]="messageInfo"
    (okClick)="onOkClick()"
  >
  </app-info-dialog>
</div>
