@import '../../../styles.scss';

.form-selects {
  display: flex;
  margin: 60px auto 30px;
  max-width: 1300px;
  justify-content: space-between;

  .select {
    width: 30%;
    display: flex;
    
    fa-icon {
      margin: 0 25px 3px 0;
      font-size: 44px;
      color: rgb(182, 181, 181);
    }

    select {
      @include select(100%);
      text-align: center;
      font-size: 32px;
    }
  
    option {
      @include option;
    }
  }
}

.buttons-container {
  text-align: center;
  max-width: 400px;
  margin: 30px auto 90px;


  .filter {
    @include button(rgb(195, 209, 0), rgb(216, 231, 0), rgb(48, 43, 0), $text-color);
    font-size: $content-font-size * 1.8;
    letter-spacing: 1px;
    width: 400px;
  }

  mat-spinner {
    margin: 70px auto;
  }
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: $text-secondary-color !important;
}