<div class="meals-form">
  <form [formGroup]="form">
    <div class="form-selects">
      <div class="select">
        <fa-icon [icon]="faFire"></fa-icon>
        <select id="calories" formControlName="calories" required>
          <option value="" disabled selected hidden>Kalorie</option>
          <option 
            *ngFor="let option of caloriesOptions"
            [value]="option.value">{{ option.label }}
          </option>
        </select>
      </div>
      <div class="select">
        <fa-icon [icon]="faUtensils"></fa-icon>
        <select id="kind" formControlName="kind" required>
          <option value="" disabled selected hidden>Rodzaj</option>
          <option 
            *ngFor="let option of kindOptions"
            [value]="option.value">{{ option.label }}
          </option>
        </select>
      </div>
      <div class="select">
        <fa-icon [icon]="faCubesStacked"></fa-icon>
        <select id="taste" formControlName="taste" required>
          <option value="" disabled selected hidden>Smak</option>
          <option 
            *ngFor="let option of tasteOptions"
            [value]="option.value">{{ option.label }}
          </option>
        </select>
      </div>
    </div>
    <div class="buttons-container">
      <button class="filter"  (click)="onFilterClick()">Filtruj produkty</button>
      <mat-spinner
        *ngIf="loading"
        [diameter]="150"
        [strokeWidth]="15">
      </mat-spinner>
    </div>
  </form>
</div>
