@import '../../styles.scss';

// Radio Inputs

mat-button-toggle-group {
  display: flex;
  justify-content: center;
  border: none;
  @include medium-screens{
    flex-direction: column;
    align-items: center;
  }
  
  mat-button-toggle  {
    @include button($text-secondary-color, rgb(243, 0, 0), rgb(31, 0, 0), $text-color);
    font-size: 26px;
    padding: 5px 20px;
    margin: 10px 20px;
    width: 300px;
    background-color: inherit;
    cursor: pointer;

    @include medium-screens{
      margin: 15px 0;
      width: 85%;
      font-size: 24px;
    }
    
    &:hover {
      border: 3px solid rgb(119, 0, 0);
      box-shadow: none;
      font-weight: bold;
      span {
        border-left: 3px solid white; 
      }
    }
  
    span {
      padding: 0 0px 0 15px;
      border-left: solid 3px $text-secondary-color;
    }
  
    fa-icon {
      padding: 0 15px 0 0;
      font-size: 36px;
    }
  
    &.mat-button-toggle-checked {
      background: linear-gradient(to bottom right, rgb(34, 0, 0), rgb(151, 0, 0));
      border: 3px solid rgb(34, 0, 0);
      box-shadow: 0px 0px 20px rgb(34, 0, 0);
      color: $text-color;
      border: 3px solid rgb(151, 0, 0);
  
      span {
        border-left: 3px solid white;
      }
    }
  }
}

.mat-button-toggle-group-appearance-standard
.mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
  border-left: 3px solid $text-secondary-color; 
}



// Body Data Inputs

.body-data {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  
  @include large-screens {
    flex-direction: column;
    align-items: center;
    margin: 10px auto 0;
  }

  .data-option {
    width: 30%;
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    
    @include large-screens {
      width: 80%;
      margin: 20px 0;
    }
    @include small-screens {
      width: 90%;
    }
  }

  fa-icon {
    font-size: 36px;
    margin: 4px 30px 0 0;
    color: $text-secondary-color;
  }

  input {
    @include input(100%);

    @include small-screens {
      font-size: $content-font-size* 1.25;
    }
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// Exrcise Inputs

.exercise-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 60px auto 20px;

  @include large-screens {
    margin: 20px auto;
  }

  select {
    @include select(100%);

    @include large-screens {
      width: 80%;
    }
    @include small-screens {
      width: 90%;
      font-size: $content-font-size* 1.25;
    }
  }

  option {
    @include option;
    @include small-screens {
      font-size: $content-font-size* 1.25;
    }
  }
}


// Buttons

.buttons-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @include medium-screens {
    flex-direction: column-reverse;
    align-items: center;
  }

  @include medium-screens{
    margin-bottom: 20px;
  }

  button {
    margin: 0 30px 30px;
    width: 250px;

    @include medium-screens{
      width: 85%;
      margin: 0px 0 20px;
      font-size: 20px;
    }
  }

  .cancel {
    @include button(rgb(195, 209, 0), rgb(216, 231, 0), rgb(48, 43, 0), $text-color);
    font-size: $content-font-size * 1.6;
  }

  .submit {
    @include button(rgb(0, 179, 0), rgb(1, 199, 1), rgb(0, 48, 0), $text-color);
    font-size: $content-font-size * 1.6;
  }
}