<div class="meals-edit">
  <app-title 
    [sectionTitle]="sectionName" 
    [sectionDescription]="sectionDescription">
  </app-title>
  <div class="row">
    <div class="data-option">
      <label for="name">Nazwa</label>
      <fa-icon [icon]="faUtensils"></fa-icon>
      <input type="text" id="name" placeholder="Serek wiejski">
    </div>
    <div class="data-option">
      <label for="calories">Liczba kalorii ( kcal )</label>
      <fa-icon [icon]="faFire"></fa-icon>
      <input type="number" id="calories" placeholder="200">
    </div>
  </div>
  <div class="row">
    <div class="data-option">
      <label for="protein">Białko ( gram )</label>
      <fa-icon [icon]="faDrumstickBite"></fa-icon>
      <input type="number" id="protein" placeholder="22">
    </div>
    <div class="data-option">
      <label for="fats">Tłuszcze ( gram )</label>
      <fa-icon [icon]="faBurger"></fa-icon>
      <input type="number" id="fats" placeholder="10">
    </div>
    <div class="data-option">
      <label for="carbohydrates">Węglowodany ( gram )</label>
      <fa-icon [icon]="faBreadSlice"></fa-icon>
      <input type="number" id="carbohydrates" placeholder="4">
    </div>
  </div>
  <div class="buttons-container">
    <button class="cancel">Anuluj zmiany</button>
    <button class="save">Zapisz i dodaj</button>
  </div>
</div>
