<div class="meals-edit">
  <app-title 
    [sectionTitle]="sectionName" 
    [sectionDescription]="sectionDescription">
  </app-title>
  <form [formGroup]="mealForm">
    <div class="row">
      <div class="data-option">
        <label for="name">Nazwa</label>
        <fa-icon [icon]="faUtensils"></fa-icon>
        <input type="text" id="name" formControlName="name" maxlength="25" placeholder="Wprowadź nazwę">
      </div>
      <div class="data-option" (click)="onCaloriesClick()">
        <label for="calories">Liczba kalorii ( kcal )</label>
        <fa-icon [icon]="faFire"></fa-icon>
        <input type="number" id="calories" formControlName="calories" placeholder="Wprowadź ilość kcal" readonly>
      </div>
    </div>
    <div class="row">
      <div class="data-option">
        <label for="protein">Białko ( gram )</label>
        <fa-icon [icon]="faDrumstickBite"></fa-icon>
        <input type="number" id="protein" formControlName="protein" placeholder="Białko" (input)="validateInput('protein'); updateCalories()">
      </div>
      <div class="data-option">
        <label for="fats">Tłuszcze ( gram )</label>
        <fa-icon [icon]="faBurger"></fa-icon>
        <input type="number" id="fats" formControlName="fats" placeholder="Tłuszcze" (input)="validateInput('fats'); updateCalories()">
      </div>
      <div class="data-option">
        <label for="carbohydrates">Węglowodany ( gram )</label>
        <fa-icon [icon]="faBreadSlice"></fa-icon>
        <input type="number" id="carbohydrates" formControlName="carbohydrates" placeholder="Węglowodany" (input)="validateInput('carbohydrates'); updateCalories()">
      </div>
    </div>
    <div class="buttons-container">
      <button class="cancel" (click)="onCancelCLick()">Anuluj zmiany</button>
      <button class="save" (click)="onSaveClick()">Zapisz i dodaj</button>
    </div>
  </form>
  <app-info-dialog 
    [showMessage]="showMessage"
    [messageInfo]="messageInfo"
    (okClick)="onOkClick()">
  </app-info-dialog>
</div>
