@import '../../../styles.scss';

.mat-elevation-z8 {
  overflow-x: auto;
}

table {
  color: $text-secondary-color;
  text-align: center;

  th {
    background: linear-gradient(to top, rgb(192, 1, 1), rgb(66, 0, 0));
    color: white;
    font-size: $table-th-font-size;
    text-align: center;
    font-weight: bold;
    @include medium-screens {
      font-size: $table-th-font-size-sm;
    }
  }

  tr.mat-row {
    background-color: black;
  }

  .mat-mdc-row.mdc-data-table__row.cdk-row {
    background-color: black;
    color: white;
    border-bottom: 2px solid;
    font-size: $table-td-font-size;
    border-spacing: 1px;
    @include medium-screens {
      font-size: $table-td-font-size-sm;
    }
  }

  .mat-mdc-row.mdc-data-table__row.cdk-row:hover {
    background: linear-gradient(to top, rgb(94, 1, 1),rgb(27, 0, 0));
  }

  
  .mat-mdc-cell.mdc-data-table__cell.cdk-cell{
    border-bottom: 2px solid $text-secondary-color;
    text-align: center;
    padding: 15px 0;
  }

  .btn-remove {
    @include delete-button($table-btn-font-size, $table-btn-font-size-sm);
  }
}

.btn-clear {
  @include delete-button($form-btn-font-size, $form-btn-font-size-sm);
  display: block;
  width: 370px;
  margin: 30px auto 50px;

  @include small-screens {
    font-size: $content-font-size * 1.3;
    width: 330px;
  }
  @include tiny-screens {
    font-size: $content-font-size * 1.2;
    width: 270px;
  }
}

// PAGINATOR

::ng-deep .mat-mdc-paginator-outer-container {
  background: linear-gradient(to top, rgb(109, 0, 0), rgb(26, 0, 0));
  color: white;
  @include small-screens {
    padding-top: 10px;
  }
}

::ng-deep .mat-mdc-paginator .mat-mdc-select-value {
  color: white;
}

::ng-deep .mat-mdc-select-arrow svg {
  color: white;
} 

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border: 2px solid white !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border: 2px solid $text-secondary-color !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
  border-right: none !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-left: none !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: rgb(255, 255, 255) !important;
  opacity: 0.6;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-paginator-icon {
  fill: rgb(255, 255, 255) !important;
}

