*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 5rem;
  color: $text-color;
  box-sizing: inherit;
  font-family: $content-font;
  font-size: $content-font-size;
  line-height: 1.6;
  background: $dark-color;
}