@import '../../../styles.scss';

.calculator-result {
  max-width: 1300px;
  margin: 0 auto;
}

.result {
  display: flex;
  justify-content: space-between;
  @include extra-large-screens {
    flex-direction: column;
    align-items: center;
  }
}

// DATA

.result-data {

  @include extra-large-screens {
    width: 90%;
  }
  
  .data-item {
    border-bottom: 3px dashed $text-secondary-color;
    padding: 20px;
    
    h2 {
      margin-bottom: 20px;
      max-width: 600px;
      @include medium-screens {
        font-size: 26px;
      }
    }
    
    .calories-amount {
      display: flex;
      margin-bottom: 15px;
  
      fa-icon {
        font-size: 56px;
        margin-right: 35px;
        margin-top: 3px;
        @include medium-screens {
          font-size: 48px;
        }
        @include small-screens {
          margin-top: 25px;
        }
        @include tiny-screens {
          margin-top: 17.5px;
        }
      }
  
      h2 {
        margin: 0;
        font-size: 40px;
        background: linear-gradient(to bottom right, rgb(196, 1, 1), rgb(80, 0, 0));
        padding: 15px 30px;
        border-radius: 15px;
        @include extra-large-screens {
          width: 90%;
        }
        @include medium-screens {
          text-align: center;
          font-size: 30px;
          width: 100%;
        }
        @include tiny-screens {
          padding: 5px;
        }
      }
    }
  }
}

// DIAGRAMS

.result-diagrams {

  text-align: center;
  width: 40%;
  @include extra-large-screens {
    width: 65%;
  }
  @include medium-screens {
    width: 80%;
  }

  h3 {
    font-size: 32px;
    margin: 45px 0 20px;
    @include extra-large-screens {
      margin-top: 60px;
    }
    @include small-screens {
      margin: 30px 0 10px;
    }
  }

  .diagram {
    display: flex;
    justify-content: space-around;
    @include small-screens {
      flex-direction: column;
      align-items: center;
      flex-direction: column-reverse;
    }

    .diagram-circle h4 {
      padding: 40px;
      border: 12px solid transparent;
      border-radius: 50%;
      font-size: 32px;
      margin: 30px 10px 30px 0px;

      @include small-screens {
        margin: 15px 10px;
      }
    }

    &.carbohydrates .diagram-circle h4 {
      background: radial-gradient(#000000, #000000) padding-box,
      linear-gradient(to left, $carbohydrates-color 50%, rgb(214, 214, 214) 50%) border-box;
    }
    
    &.protein .diagram-circle h4 {
      background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(to left, $protein-color  25%, rgb(214, 214, 214) 25%, rgb(214, 214, 214) 100%) border-box;
    }
    
    &.fats .diagram-circle h4 {
      background: linear-gradient(#000000, #000000) padding-box,
        linear-gradient(to left, $fats-color 25%, rgb(214, 214, 214) 25%, rgb(214, 214, 214) 100%) border-box;
    }

    .diagram-description {
      text-align: center;
      width: 60%;
      @include small-screens {
        width: 100%;
      }

      h3 {
        display: inline-block;
        font-size: 28px;
        margin-bottom: 0;
        @include small-screens {
          font-size: 24px;
        }
      }

      h3::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px; 
        background-color: $carbohydrates-color;; 
        margin-top: 5px;
      }

      p {
        color: $carbohydrates-color;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bold;
        @include small-screens {
          margin-bottom: 0;
        }
      }
    }

    &.protein .diagram-description h3::after {
      background-color: $protein-color; 
    }

    &.fats .diagram-description h3::after {
      background-color: $fats-color; 
    }
    
    &.protein .diagram-description p {
      color: $protein-color; 
    }

    &.fats .diagram-description p {
      color: $fats-color; 
    }  
  }
}


// BUTTONS

.buttons-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @include medium-screens {
    flex-direction: column-reverse;
    align-items: center;
  }

  button {
    margin: 0 20px 30px;
    width: 390px;
    border: none;
    @include small-screens {
      width: 90%;
      margin: 0 0px 25px;
    }
    @include tiny-screens {
      width: 95%;
      margin: 0 0px 25px;
    }
  }

  .recalculate {
    @include delete-button($form-btn-font-size, $form-btn-font-size-sm)
  }

  .save {
    @include delete-button($form-btn-font-size, $form-btn-font-size-sm)
  }
}