<div class="calories-diagram">
  <h2>Spożyto dziś 1256 / 2336 kalorii.<span> Pozostało 862 kalorii</span></h2>
  <div class="diagram-container"></div>
  <div class="diagram-description">
    <div class="diagram-description-item protein">
      <div class="item-color"></div>
      <div>
        <h4>BIAŁKO</h4>
        <p>86g / 160g</p>
      </div>
    </div>
    <div class="diagram-description-item fats">
      <div class="item-color"></div>
      <div>
        <h4>TŁUSZCZE</h4>
        <p>35g / 92g</p>
      </div>
    </div>
    <div class="diagram-description-item carbohydrates">
      <div class="item-color"></div>
      <div>
        <h4>WEGLOWODANY</h4>
        <p>102g / 207g</p>
      </div>
    </div>
  </div>
</div>
