@import '../../../styles.scss';

.container {
  background: linear-gradient(to top, rgb(105, 0, 0), rgb(0, 0, 0));
}

h1 {
  text-align: center;
  word-spacing: 5px;
  font-family: monospace;
  font-size: 46px;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 30px;
  color: white !important;

  span {
    color: rgb(145, 3, 3);
    @include extra-large-screens {
      display: none;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 10px;

  a {
    text-decoration: none;
    color: $text-color;
    display: inline-block;
    width: 255px;
    text-transform: uppercase;
    margin: 10px 0 0;
    padding: 15px;
    font-size: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.25s;
    border-bottom: none;
    @include large-screens {
      width: 210px;
      margin: 0 5px;
      font-size: 22px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.25);
    }
  }

  .active {
    color: $text-secondary-color;
    background: rgb(0, 0, 0);
    font-weight: bold;

    &:hover {
      color: $text-secondary-color;
      background: rgb(0, 0, 0);
    }
  }
}
