@import '../../../styles.scss';

.overlay {
  display: none;

  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
  }

  &.active body {
    position: fixed;
    width: 100%;
  }
}

.messageBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  text-align: center;
  border: 2px solid $text-secondary-color;
  box-shadow: 0px 0px 8px $text-secondary-color;
  border-radius: 10px;
  z-index: 1;
  width: 60%;
  @include large-screens {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: $content-font-size * 1.25;
    margin-bottom: 20px;
    padding: 10px 10px 5px;

    @include medium-screens {
      margin: 20px 10px;
    }
  }

  button {
    @include delete-button($form-btn-font-size, $form-btn-font-size-sm);
    width: 150px;
    padding: 5px 10px;
    margin-bottom: 40px;
    @include medium-screens {
      margin: 0 auto 35px; 
      width: 50%;
    }
  }
}