@import '../../styles.scss';

.home {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 30px auto;
  @include extra-large-screens {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    display: none;
    text-align: center;
    word-spacing: 3px;
    font-family: monospace;
    font-size: 42px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    color: white !important;
    
    span {
      color: rgb(145, 3, 3);
    }

    @include extra-large-screens {
      display: block;
    }
  }

  .image {
    width: 30%;
    text-align: center;

    @include extra-large-screens {
      display: none;
    }

    img {
      width: 350px;
      height: 400px;
    }
  }

  .description {
    margin-top: 20px;
    width: 65%;
    text-align: center;
    
    @include extra-large-screens {
      width: 100%;
      margin: 0;
      padding: 0px 30px 10px;
    }

    @include small-screens {
      padding: 5px;
      font-size: $content-font-size * 0.9;
    }
  }

  .btn {
    @include delete-button($main-btn-font-size, $main-btn-font-size);
    padding: 10px 30px;
    font-size: 32px;
    @include small-screens {
      padding: 5px 15px;
      margin: 10px 10px 30px;
      font-size: 26px;
    }
    @include tiny-screens {
      margin: 10px 20px 20px;
    }
    &:hover {
      border: 3px solid rgb(119, 0, 0); 
    }
  }
}