<div class="home" data-aos="zoom-in">
  <div class="image">
    <img src="../../assets/HomeFoto.jpg" alt="Home Foto" />
  </div>
  <div class="description">
    <p>Apliakcja ta ma za zadanie ułatwić Ci wyliczenie dziennego spożycia kalorycznego.
      Klikajac w poniższy przycisk przejdziesz do kalkulatora który po wprowadzeniu twoich danych
      obliczy Twój wskaźnik BMR oraz oszacuje twoje dzienne zapotrzebowanie kaloryczne. Podpowie on również ile
      kalorii powinieneś spożywać aby osiągnąć swój cel. W zakładce "posiłki" znajdziesz
      formularz dzięki któremu możesz pobrać odpowiednie produkty z dokładnym opisem
      wyszczególnionym w tabeli. Każdy produkt możesz edytować a także dodawać do twojej
      dziennej listy spożytych produktów, którą znajdziesz w zakładce - kalorie. Tam również znajduje
      się diagram reprezentujacy twoje dzienne spożycie poszczególnych makroskładników. Zaczynajmy !
    </p>
    <a routerLink="/calculator" class="btn">KALKULATOR KALORII</a>
  </div>
</div>
